:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 38 253 74;
  --oui-color-primary-light: 38 253 74;
  --oui-color-primary-darken: 38 253 74;
  --oui-color-primary-contrast: 38 253 74;

  --oui-color-link: 38 253 74;
  --oui-color-link-light: 38 253 74;

  --oui-color-secondary: 38 253 74;
  --oui-color-tertiary: 38 253 74;
  --oui-color-quaternary: 38 253 74;

  --oui-color-danger: 38 253 74;
  --oui-color-danger-light: 38 253 74;
  --oui-color-danger-darken: 38 253 74;
  --oui-color-danger-contrast: 38 253 74;

  --oui-color-success: 38 253 74;
  --oui-color-success-light: 38 253 74;
  --oui-color-success-darken: 38 253 74;
  --oui-color-success-contrast: 38 253 74;

  --oui-color-warning: 22 20 28;
  --oui-color-warning-light: 38 253 74;
  --oui-color-warning-darken: 38 253 74;
  --oui-color-warning-contrast: 38 253 74;

  --oui-color-fill: 38 253 74;
  --oui-color-fill-active: 38 253 74;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 81 72 107;
  --oui-color-base-3: 68 61 69;
  --oui-color-base-4: 57 52 74;
  --oui-color-base-5: 51 46 66;
  --oui-color-base-6: 43 38 56;
  --oui-color-base-7: 36 32 47;
  --oui-color-base-8: 29 26 38;
  --oui-color-base-9: 22 20 28;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 38 253 74;
  --oui-color-line: 38 253 74;

  --oui-color-trading-loss: 38 253 74;
  --oui-color-trading-loss-contrast: 38 253 74;
  --oui-color-trading-profit: 38 253 74;
  --oui-color-trading-profit-contrast: 38 253 74;

  /* gradients */
  --oui-gradient-primary-start: 38 253 74;
  --oui-gradient-primary-end: 38 253 74;

  --oui-gradient-secondary-start: 38 253 74;
  --oui-gradient-secondary-end: 38 253 74;

  --oui-gradient-success-start: 38 253 74;
  --oui-gradient-success-end: 38 253 74;

  --oui-gradient-danger-start: 38 253 74;
  --oui-gradient-danger-end: 38 253 74;

  --oui-gradient-brand-start: 101 240 194;
  --oui-gradient-brand-end: 41 233 169;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}